/* Common styles for all screen sizes */
.container {
  position: relative;
  display: flex;
  align-items: center; 
  padding: 20px;
  margin-top: -3%;
  right: 0%;
}

.image {
   max-width: 55%; 
   height: auto; 
  margin-right: 2px; 
}
.sond {
  max-width: 55%; 
  height: auto; 
 margin-right: 2px; 
}

.text {
  display: flex;
  position: relative;
  color: #0B132A;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
}

.content {
  display: flex;
  position: relative;
  margin-top: 5%;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-right: 2%;
}

.b1, .b2 {
  display: flex;
  color: #0B132A;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0px;
  background-color: #FFF;
}

.b2 {
  /* width: 150px;
  height: 45px; */
  flex-shrink: 0;
  /* border-radius: 50px;
  border: 1px solid #F53855; */
  color: #F53855;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-item { 
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.second {
  display: flex;
  margin: 3%;
  margin-left: 7%;
}

.second h1 {
  color: #0B132A;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; 
}

.second span {
  color: #0B132A;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}

.second span h5 {
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.but {
  position: relative;
  margin-top: -5%;
  margin-left: 8%;
}

.bb {
  color: rgb(246, 250, 250);
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F53838;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; 
  text-align: center;
}

.users {
  display: flex;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

.text span {
  color: #4F5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.plat {
  display: flex;
}

.plat h2 {
  color: #0B132A;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.plat h4 {
  color: #4F5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hot {
  position: relative;
  margin-left: 7%;
  height: 73vmin;
  display: flex;
}

.plat li {
  list-style: none;
  color: #4F5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  position: relative;
  padding-left: 0%;
  text-align: start;
}

.ima1 {
  position: relative;
  padding-right: 0%;
  height: 24px;
  flex-shrink: 0;
}

.tet {
  position: relative;
}

.sort1 {
  display: flex;
  flex-direction: column;
}

.text1 {
  position: relative;
  left:  33px;
}

.contner {
  position: relative;
  display: flex;
  align-items: center; 
  padding: 20px;
  margin-top: -3%;
  right: 0%;
  justify-content: space-between;
}

/* Media Queries */
@media (max-width: 500px) {
  .text h2, .nav-list {
      font-size: 10px;
  }
  .buttons {
      height: 20px;
  }
  .second h1, .second span {
      font-size: 20px;
  }
  .plat {
      font-size: 0px;
  }
  .hot {
      height: 35vmin;
  }
  .sond{
    height: 35vmin;
  }
}

@media (max-width: 700px) {
  .text h2, .nav-list {
      font-size: x-small;
  }
  .buttons {
      height: 20px;
  }
}

@media (max-width: 800px) {
  .text h2, .nav-list {
      font-size: x-small;
  }
  .buttons {
      height: 20px;
  }
}

/* @media (max-width: 500px) {
  .maincontainer {
   font-size: 0px;
    }
   
} */
/* @media (max-width: 500px) {
  .container h2{
      font-size: 9px;
  }
  .nav-list{
      font-size: 9px;
  }
  .image{
    height: 3vmin;
  }
  .b1, .b2{

    font-size: 2px;
  }
} */