/* ImageTextSideBySide.css */
.container {
    position: relative;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 20px;
    margin-top: -3%;
    right: 0%;
  }
  
  .image {
    max-width: 55%; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px; /* Add spacing between image and text */
  }
  
  .text {
    flex: 1; /* Allow the text to grow and take up remaining space */
    color: #0B132A;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  
  /* Additional styling for text, e.g., fonts, colors, etc. */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  /* @media (min-width: 768px) {
    .container {
      flex-direction: row; 
      align-items: center; 
    }
} */
.content{
    display: flex;
    position: relative;
    margin-top: 5%;
    justify-content: center;
    justify-self: stretch;
    justify-content: space-around;
    
}
/* NavBar.css */
/* .navbar {
    color: #b92a2a;
    position: relative;
    display: flex;
   
    justify-content: center;
    flex-direction: row;
    
  } */
  /* .navbar {
    color: #b92a2a;
    position: relative;
   left: 33px;
    
    justify-content: center;
    flex-direction: row;
    
  } */
  /* .buttons{
display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: auto;
  } */
  .b1{
    color: #0B132A;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 0px;
  }
  .b2{
    width: 150px;
height: 45px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #F53855;
    color: #F53855;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .nav-item { 
    position: relative;
   
    margin-right: 20px;
  
    cursor: pointer;
    transition: background-color 0.3s ease;
  
   
  }
  /* .head{
    display: flex;
    
    
} */
/* .logo{
    height: 6vmin;
} */
  /* .head h1{
    color: #0B132A;
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}   */
.second {
    display: flex;
}
.second h1{
    width: 555px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 140% */

}
.second span{
    color: #0B132A;
font-family: Rubik;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 70px;
}
.second span h5{
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.sond{
    position: relative;
    height: 40vmin;
    left: 13%;
    background: #FFF;
}
/* .second h5{
    width: 555px;
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px;

} */

.bb{
    color: rgb(246, 250, 250);
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F53838;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    text-align: center;
}
.users{
    display: flex;
    justify-content: space-around;

}
.text span{
    color: #4F5665;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}

.plat{
    display: flex;
}
.plat h2{
    color: #0B132A;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px;
}
.plat h4{
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.hot{
   height: 73vmin;
}
.plat li{
    list-style: none;
    color: #4F5665;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
position: relative;
padding-left: 0%;
text-align: start;

}
.ima1{
    position: relative;
padding-right: 0%;
height: 24px;
flex-shrink: 0;

}
.tet{
    position: relative;
}
.sort1{
    display: flex;
    
}
.text1{
    position: relative;
    left:  33px;
}